<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770297886990-n42iivts6s6obc2g95fvs5bsksecjg0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770297886990-n42iivts6s6obc2g95fvs5bsksecjg0i</string>
	<key>API_KEY</key>
	<string>AIzaSyDRbzm7a_yQvJnd-HDHdZFzn0Lq7NEWyjM</string>
	<key>GCM_SENDER_ID</key>
	<string>770297886990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.edu.ukma.onishchenko.Project-structure</string>
	<key>PROJECT_ID</key>
	<string>walkproject-d9437</string>
	<key>STORAGE_BUCKET</key>
	<string>walkproject-d9437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770297886990:ios:02a6fb902208a63219bf5f</string>
</dict>
</plist>